.time_search {
  width: calc(100% - 20px);
}

.update-time-on-edit--settings--warn {
  color: #ff5a5a;
}

.update-time-on-edit--bulk-modal .progress-section {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.update-time-on-edit--bulk-modal .progress-section progress {
  flex: 1;
}
